In [11]:
import pandas as pd

In [12]:
residentials = pd.read_csv('aluguel_residencial_tratado.csv', sep = ';')
residentials.head(10)

                 Tipo               Bairro  ...  Valor m2  Tipo Agregado
0           Quitinete           Copacabana  ...     42.50    Apartamento
1                Casa      Jardim Botânico  ...     70.00           Casa
2         Apartamento               Centro  ...     53.33    Apartamento
3         Apartamento         Higienópolis  ...     16.67    Apartamento
4         Apartamento             Cachambi  ...     26.00    Apartamento
5  Casa de Condomínio      Barra da Tijuca  ...     29.33           Casa
6  Casa de Condomínio                Ramos  ...     15.38           Casa
7         Apartamento               Grajaú  ...     21.43    Apartamento
8         Apartamento  Lins de Vasconcelos  ...     16.67    Apartamento
9         Apartamento           Copacabana  ...     50.00    Apartamento

[10 rows x 11 columns]

In [13]:
# 1 e 2
# 3 e 4
# 5 e 6
# 7 e 8
classes = [0, 2, 4, 6, 100]

In [15]:
bedrooms = pd.cut(residentials.Quartos, classes)

In [16]:
pd.value_counts(bedrooms) # ( intervalo aberto, ] intervalo fechado

(0, 2]      11774
(2, 4]       9685
(4, 6]        686
(6, 100]       50
Name: Quartos, dtype: int64

In [24]:
labels = ['até 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7+ quartos' ]

In [21]:
bedrooms = pd.cut(residentials.Quartos, classes, labels=labels)

In [22]:
pd.value_counts(bedrooms) # ( intervalo aberto, ] intervalo fechado

1 e 2 quartos        11774
3 e 4 quartos         9685
5 e 6 quartos          686
7 quartos ou mais       50
Name: Quartos, dtype: int64

In [26]:
bedrooms = pd.cut(dados.Quartos, classes, labels = labels, include_lowest = True)
pd.value_counts(bedrooms)

até 2 quartos    11936
3 e 4 quartos     9685
5 e 6 quartos      686
7+ quartos          50
Name: Quartos, dtype: int64